<a href="https://colab.research.google.com/github/pacomm5/Plantillas/blob/main/EXCEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LLEVAR UN DATAFRAME A UN CSV DE VUELTA.

In [1]:
# una vez hecho todo toca volcar la información de vuelta a csv
merge_full.to_csv("salida.csv", sep= "|", index = False)
# lo que ha hecho es mandarmelo al temporal de collab, como sabemos lo tenemos que descargar 
# porque desaparece.
# imagino que si lo haces en otra herramienta que no sea colab, habrá que ponerle
# la dirección que corresponda.

NameError: ignored

# TRABAJANDO CON ARCHIVOS EN CARPETAS .

In [ ]:
import pandas as pd
import os

In [ ]:
# hemos creado tres carpetas y en cada uno hemos metido el mismo archivo de movies. 
# para poder ver como se hace.....

print(os.listdir("."))  # esto lo que hace es listar todo el contenido de una carpeta.
# "." te dice lo que hay en el directorio actual

In [ ]:
# asi filtramos solo los ficheros que empiecen por dt=

dias_df = [] # abrimos la lista

for carpeta in carpetas: # recorre carpeta in carpetas, carpetas ya la hemos definido arriba. 
    if carpeta.startswith("dt="): # si la carpeta empieza por lo que está dentro del parentesis. 
        fichero_datos = f"{carpeta}/movies.csv" # esto lo que hace es guardar en fichero de datos los nombres de todas las carpetas que tenemos con esa condición

        print(fichero_datos) # aquí la imprime. 
        df = pd.read_csv(fichero_datos, sep=";") # aqui estamos leyendo todas las carpetas de datos. 
        df["fecha"] = carpeta[-10:]
        dias_df.append(df) # aqui apendiza a la lista de arriba el dataframe. 

print(len(dias_df)) # aqui lo que imprime es el numero de archivos.

In [ ]:
all_dfs = pd.concat(dias_df) # aqui lo que estamos haciendo es concatenar todos los archivos en uno de la lista que hemos generado arriba.

In [ ]:
len(all_dfs) # con esto sabriamos la longitud del dataframe resultante.

In [ ]:
n_fechas = all_dfs["fecha"].unique() # con esto le estamos diciendo que nos diga las fechas unicas dentro del dataframe

In [ ]:
len(n_fechas) # con esto nos diría la cantidad de registros únicos de fechas.

In [ ]:
from datetime import datetime
fecha_hoy = datetime.today().strftime("%Y-%m-%d") # asi formateamos la fecha que sale igua que la
# tenemos en los
# archivos.  Y año m es mes d es día. 
carpeta_salida = f"salidas/dt={fecha_hoy}"
print(carpeta_salida)
os.makedirs(carpeta_salida, exist_ok = True) # esto crea la carpeta

In [ ]:
all_dfs.to_csv(f"{carpeta_salida}/salida_{fecha_hoy}.csv", sep = "|", index = False)
# esto mete el dataframe dentro de una carpeta y le pone el nombre

# AUTOMATIZACIÓN CON EXCEL

In [ ]:
! git clone https://github.com/pacomm5/Excel-Automation-With-Python

1. Write data using openpyxl
2. Write data using pandas
3. Read data using openpyxl
4. Read data using pandas
5. Creating Multiple Sheets in master excel file
6. Combining multiple excel speadsheet into a master excel
7. Plotting bar graph 
8. Plotting pie graph
9. Sample Project 1  
10. Sample Project 2

Aqui lo que vamos a hacer es escribir dentro de un excel con openpyxl desde python y guardarlo en un archivo. 
el archivo donde lo voy a guardar es en google drive temporal.

In [9]:
from openpyxl import Workbook    # importamos la librería. 
wb = Workbook()  # abrimos un nuevo archivo excel
sheet = wb.active  # activamos la hoja. 
# todos lo demás son los datos que vamos a meter. 

sheet['A1'] ="Roll"   
sheet['A2'] = 1  
sheet['A3'] = 2  
sheet['A4'] = 3

sheet['B1'] ="Name"   
sheet['B2'] = "Mickel"  
sheet['B3'] = "Ronit"  
sheet['B4'] = "Rohit"

sheet['C1'] ="Marks"   
sheet['C2'] = 80 
sheet['C3'] = 68  
sheet['C4'] = 39
 
wb.save("/content/Excel-Automation-With-Python/EXCEL/Student_Record_1.xlsx")

# cuando abro el archivo están todos los datos en el excel y se ha creado con el nombre que hemos creado.

ahora vamos a hacer lo mismo con pandas.

In [10]:
import pandas as pd

Roll = [1, 2, 3]
Name = ['Mickel', 'Ronit', 'Rohit']
Marks = [80, 68, 39]

df = pd.DataFrame({'Name':Name, 'Roll':Roll, 'Marks': Marks})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('/content/Excel-Automation-With-Python/EXCEL/Student_Record_2.xlsx')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='sheet',header=True, index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

ahora lo que vamos a hacer es leerlo con openpyxl

In [11]:
import openpyxl
path = "/content/Excel-Automation-With-Python/EXCEL/Student_Record_1.xlsx"
wb = openpyxl.load_workbook(path)
sheet = wb.active
for row in sheet:
    print([data.value for data in row]) # lo que está haciendo el leer linea a linea.

['Roll', 'Name', 'Marks']
[1, 'Mickel', 80]
[2, 'Ronit', 68]
[3, 'Rohit', 39]

ahora lo mismo pero con pandas.

In [12]:
import pandas as pd
df = pd.read_excel("/content/Excel-Automation-With-Python/EXCEL/Student_Record_2.xlsx", sheet_name='sheet1')
print(df)

     Name  Roll  Marks
0  Mickel     1     80
1   Ronit     2     68
2   Rohit     3     39

he comprobado y se puede leer los dos archivos con pandas sin problemas. lo unico que tenemos que tener en cuenta es saber como se llaman las pesañas en cada caso

ahora lo que vamos a haceer es crear multiples pestañas dentro de una misma hoja de excel

In [13]:
import openpyxl

book = openpyxl.load_workbook('/content/Excel-Automation-With-Python/Data/Sample_file.xlsx')
print("Before Creating: ",book.sheetnames)
# aqui lo que está haciendo es cargar el excel, y en teoría el mismo lo unico que tiene es una pesaña llamada Sheet

Before Creating:  ['Teacher', 'Student']

In [14]:
#Creating new sheets in Sample_file.xlsx
book.create_sheet("Student")
print("After Creating: ",book.sheetnames) # aqui lo que hacemos es crear la pestaña student sin ponerle posición

# creating new sheet ("Sheet_name",Position) 
book.create_sheet("Teacher", 0) # aqui lo que creamos es una pestaña Teacher en la posicion 0
print("After Creating: ",book.sheetnames)

# Delete sheet from file
"""book.remove(book['Sheet'])
print("After Deleting: ",book.sheetnames) """

book.save('/content/Excel-Automation-With-Python/EXCEL/Sample_file.xlsx')
# VEMOS QUE SOLO SE HACE CON OPENPYXL PERO NO HAY EJEMPLO DE PANDAS.

After Creating:  ['Teacher', 'Student', 'Student1']
After Creating:  ['Teacher1', 'Teacher', 'Student', 'Student1']

VAMOS A UNIR VARIOS EXCEL EN UNO CON PANDAS. HACE UN MERGE CON ROLL NO COMO PRIMARY

In [6]:
# importing the module
import pandas
  
# reading the files
df1 = pandas.read_excel("/content/Excel-Automation-With-Python/Data/Student_details.xlsx")
df2 = pandas.read_excel("/content/Excel-Automation-With-Python/Data/Marks.xlsx")
  
# merging the files
df3 = df1[["Roll No","Name","Email id"]].merge(df2[["Roll No","English", "Science", "History"]], on = "Roll No", how = "left")
  
# creating a new file
df3.to_excel("/content/Excel-Automation-With-Python/Data/Student_details_with_marks.xlsx", index = False)

ahora lo que vamos a hacer es escribir un grafico de barras con openpyxl

In [15]:
import openpyxl
from openpyxl.chart import BarChart, Series, Reference

path = "/content/Excel-Automation-With-Python/Data/Mark.xlsx"
wb = openpyxl.load_workbook(path)
ws = wb.active

chart1 = BarChart()
chart1.type = "col"
chart1.style = 10
chart1.title = "Bar Chart"
chart1.y_axis.title = 'Marks Obtain'
chart1.x_axis.title = 'Roll No'

data = Reference(ws, min_col=2, min_row=1, max_row=11, max_col=4)
cats = Reference(ws, min_col=1, min_row=2, max_row=11)
chart1.add_data(data, titles_from_data=True)
chart1.set_categories(cats)
chart1.shape = 4
ws.add_chart(chart1, "A10")

wb.save("/content/Excel-Automation-With-Python/Data/Mark.xlsx")

ahora lo mismo pero el tipo de grafico es un piechart

In [16]:
import openpyxl

from openpyxl.chart import (
    PieChart,
    ProjectedPieChart,
    Reference
)
from openpyxl.chart.series import DataPoint

path = "/content/Excel-Automation-With-Python/Data/pie.xlsx"
wb = openpyxl.load_workbook(path)
ws = wb.active

pie = PieChart()
labels = Reference(ws, min_col=1, min_row=2, max_row=8)
data = Reference(ws, min_col=2, min_row=1, max_row=8)
pie.add_data(data, titles_from_data=True)
pie.set_categories(labels)
pie.title = "Monthly Salary Expense"

# Cut the first slice out of the pie
slice = DataPoint(idx=0, explosion=20)
pie.series[0].data_points = [slice]

ws.add_chart(pie, "D1")

wb.save("/content/Excel-Automation-With-Python/Data/pie.xlsx")

vamos a añadir columnas al escel desde python con openpyxl

9. Simple Project 1

Task 1: we are going to add two more column in excel spreadsheet Result and Grade.

In Result column we will put pass and Failed based on Percentage He/She got.

Pass: If percentage is greater than and equal to 40.
Failed: If percentage is less than 40
In Grade column we will put 1st class, 2nd class, 3rd class and Failed based on Percentage He/She got.

1st class: If percentage greater than equal to 60.
2nd class: If percentage greater than equal to 50 but less than 60.
3rd class: If percentage greater than equal to 40 but less than 50.
Failed: If percentage less than 40.
Task 2: After doing the first task we will create multiple sheet in the same excel file base on Grade He/She got.

In [17]:
# importing required library
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook
df = pd.read_excel("/content/Excel-Automation-With-Python/Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage  Result     Grades
0     1    Asha     asha@rs.com   Femal          58    Pass  2nd class
1     2   Sonal    sonal@rs.com   Femal          25  Failed     Failed
2     3  Krishan  krishan@rs.com   Male          95    Pass  1st class
3     4   Sonali   sonali@rs.com  Femal          45    Pass  3rd class
4     5     Ritu     ritu@rs.com  Femal          67    Pass  1st class

Performing Task 1 (Adding Result column)

In [18]:
wb= openpyxl.load_workbook("/content/Excel-Automation-With-Python/Data/student_result.xlsx") # abrimos el archivo
sheet = wb['Sheet1'] # declaramos una variable que es la pesaña Sheet1
rows_max=sheet.max_row
sheet.cell(row=1, column=6).value ="Result"
for i in range(2,sheet.max_row + 1):
    if sheet.cell(row=i, column=5).value >= 40:
        sheet.cell(row=i, column=6).value = "Pass"
    else:
        sheet.cell(row=i, column=6).value ="Failed"
        
wb.save("/content/Excel-Automation-With-Python/Data/student_result.xlsx")

In [20]:
df = pd.read_excel("/content/Excel-Automation-With-Python/Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage  Result     Grades
0     1    Asha     asha@rs.com   Femal          58    Pass  2nd class
1     2   Sonal    sonal@rs.com   Femal          25  Failed     Failed
2     3  Krishan  krishan@rs.com   Male          95    Pass  1st class
3     4   Sonali   sonali@rs.com  Femal          45    Pass  3rd class
4     5     Ritu     ritu@rs.com  Femal          67    Pass  1st class

In [21]:
wb= openpyxl.load_workbook("/content/Excel-Automation-With-Python/Data/student_result.xlsx")
sheet = wb['Sheet1']
rows_max=sheet.max_row
sheet.cell(row=1, column=7).value ="Grades"
for i in range(2,sheet.max_row + 1):
    if sheet.cell(row=i, column=5).value >= 60:
        sheet.cell(row=i, column=7).value = "1st class"
        
    elif sheet.cell(row=i, column=5).value <= 60 and sheet.cell(row=i, column=5).value >=50 :
        sheet.cell(row=i, column=7).value = "2nd class"
        
    elif sheet.cell(row=i, column=5).value <= 50 and sheet.cell(row=i, column=5).value >=40 :
        sheet.cell(row=i, column=7).value = "3rd class"
    else:
        sheet.cell(row=i, column=7).value ="Failed"
        
wb.save("/content/Excel-Automation-With-Python/Data/student_result.xlsx")

In [22]:
df = pd.read_excel("/content/Excel-Automation-With-Python/Data/student_result.xlsx", sheet_name='Sheet1')
df.head()

   Roll     Name           Email Gender  Percentage  Result     Grades
0     1    Asha     asha@rs.com   Femal          58    Pass  2nd class
1     2   Sonal    sonal@rs.com   Femal          25  Failed     Failed
2     3  Krishan  krishan@rs.com   Male          95    Pass  1st class
3     4   Sonali   sonali@rs.com  Femal          45    Pass  3rd class
4     5     Ritu     ritu@rs.com  Femal          67    Pass  1st class

Sperating into multiple sheet in same excel file based on the grade obtain.

In [23]:
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook
wb= openpyxl.load_workbook("/content/Excel-Automation-With-Python/Data/student_result.xlsx")
sheet = wb['Sheet1']

def multiple_sheet(t1,grade):
    work_sheet = wb.create_sheet(title=grade)
    for row in t1:
        work_sheet.append(row)
    wb.save("/content/Excel-Automation-With-Python/Data/student_result.xlsx")

def grade_wise(row_num,grade):    
    t1=[]
    for j in row_num:
        t=[]
        for col in sheet.iter_cols(min_col=1,max_col=sheet.max_column, min_row = j,max_row=j ):
            for cell in col:
                t.append(cell.value)
        t1.append(tuple(t))                
    multiple_sheet(t1,grade)
    
def separating():
    df = pd.read_excel("/content/Excel-Automation-With-Python/Data/student_result.xlsx", sheet_name='Sheet1')
    grades=[]
    for i in range(len(df["Grades"])):
        rec=df["Grades"][i]
        grades.append(rec)            
    grades=list(set(grades))
    start = 1
    cols_max=sheet.max_column
    rows_max=sheet.max_row

    for grade in grades:
        row_col=[]
        row_col.append(1)
        for col in sheet.iter_cols(min_col=cols_max, min_row = start, max_row=rows_max):
            for cell in col:
                if cell.value == grade:
                    row_col.append(cell.row)
            grade_wise(row_col,grade)        
        
separating()

10. Simple Project 2

In this project we are separating the records in different excel spreadsheet for different Grade

In [24]:
import pandas as pd
import xlrd
import openpyxl
from openpyxl import Workbook

def separate_excel_file(t1,grade):
    book = Workbook()
    sheet = book.active
    for row in t1:
        sheet.append(row)
    book.save('output/'+grade+'.xlsx')

def grade_wise(row_num,grade):    
    t1=[]
    for j in row_num:
        t=[]
        for col in sheet.iter_cols(min_col=1,max_col=sheet.max_column, min_row = j,max_row=j ):
            for cell in col:
                t.append(cell.value)    
        t1.append(tuple(t))                
    separate_excel_file(t1,grade)
    
def separating():
    df = pd.read_excel("/content/Excel-Automation-With-Python/Data/student_result.xlsx", sheet_name='Sheet1')
    grades=[]
    for i in range(len(df["Grades"])):
        rec=df["Grades"][i]
        grades.append(rec)            
    grades=list(set(grades))
    start = 1
    cols_max=sheet.max_column
    rows_max=sheet.max_row
    for grade in grades:
        row_col=[]
        row_col.append(1)
        for col in sheet.iter_cols(min_col=cols_max, min_row = start, max_row=rows_max):
            for cell in col:
                if cell.value == grade:
                    row_col.append(cell.row)
            grade_wise(row_col,grade) 
        
        
separating()

FileNotFoundError: ignored