<a href="https://colab.research.google.com/github/pacomm5/Plantillas/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SERIES

##CREAR UNA SERIE DE PANDAS A PARTIR DE UN INDICE NORMAL DE LISTA Y UN INDICE PERSONALIZADO

In [4]:
import pandas as pd

In [5]:
# Create a pandas data series from a list:

L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
L1


#['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian']

pseries_1 = pd.Series(data = L1)
pseries_1




#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

In [6]:
#create a pandas data series with index
car_index = ['car1','car2','car3','ev1','ev2','ev3']

pseries_2 = pd.Series(data = L1,index = car_index)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
ev1      Tesla
ev2      Lucid
ev3     Rivian
dtype: object

##Crea una serie de Pandas a partir de un diccionario de pitón

In [7]:
#Create a pandas series from a python dictionary.
pdict_1 = {
    'car1': 'Honda',
    'car2': 'Toyota',
    'car3': 'Ford',
    'car4': 'GM',
    'car5': 'BMW',
    'car6': 'Nissan'}
    

  
pseries_2 = pd.Series(pdict_1)
pseries_2

car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object

## CREAR UNA SERIE DE PANDAS A PARTIR DE UNA AMTRIZ NUMPY

In [8]:
#Create a pandas series from a Numpy array
import numpy as np
array_01 = np.random.randn(5)
array_01

array([-0.45152783,  2.60788802,  0.04770416,  0.81680972,  0.54131705])

In [9]:
pseries_3 = pd.Series(array_01)
pseries_3

0   -0.451528
1    2.607888
2    0.047704
3    0.816810
4    0.541317
dtype: float64

## CREAR UNA SERIE DE PANDAS A PARTIR DE UN VALOR ESCALAR.

In [10]:
#If data is a scalar value, an index must be provided. 
#The value will be repeated to match the length of index.
pseries_4 = pd.Series(8.0, index=["a", "b", "c", "d", "e"])
pseries_4

a    8.0
b    8.0
c    8.0
d    8.0
e    8.0
dtype: float64

## series, attributes-sort, index, sort values, describe, shape

In [11]:
pseries_2.shape

(6,)

In [12]:
pseries_2.describe

<bound method NDFrame.describe of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [13]:
pseries_2.index

Index(['car1', 'car2', 'car3', 'car4', 'car5', 'car6'], dtype='object')

In [14]:
pseries_2.values

array(['Honda', 'Toyota', 'Ford', 'GM', 'BMW', 'Nissan'], dtype=object)

In [15]:
pseries_2.sort_index

<bound method Series.sort_index of car1     Honda
car2    Toyota
car3      Ford
car4        GM
car5       BMW
car6    Nissan
dtype: object>

In [16]:
pseries_2.sort_values(inplace=True)
pseries_2

car5       BMW
car3      Ford
car4        GM
car1     Honda
car6    Nissan
car2    Toyota
dtype: object

## renombrar series y atributos únicos

In [17]:
import pandas as pd

In [18]:
#Series can also have a name attribute:
pseries_5 = pd.Series(pdict_1, name='cars')
pseries_5.name

'cars'

In [19]:
#You can rename a Series with the pandas.Series.rename() method.
pseries_6 = pseries_5.rename("different_cars")
pseries_6.name

'different_cars'

In [20]:
# Check if all elements are unique 
pseries_6.is_unique

True

## comprobar algunos metodos de series, head, tail, isnull ...

In [21]:
#Here are few methods. There are around 50-60 mothods. Check the documentation
pseries_4.describe()

count    5.0
mean     8.0
std      0.0
min      8.0
25%      8.0
50%      8.0
75%      8.0
max      8.0
dtype: float64

In [22]:
pseries_4.head(2)

a    8.0
b    8.0
dtype: float64

In [23]:
pseries_4.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [24]:
pseries_4.sum()

40.0

In [25]:
pseries_4.product()

32768.0

## encontrar valores nulos

In [26]:
ps6 = pd.Series([10,np.nan,20,30,np.nan])
ps6.isna()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [27]:
ps6.isna().sum()

2

## uso de funciones integradas en series

In [28]:
# Python buildin functions:
ps7 = pd.Series(np.random.randn(10))
ps7

0    0.850809
1   -1.394997
2   -1.154214
3    2.608141
4    0.343212
5   -0.485921
6   -1.150069
7    0.392338
8    0.387833
9    0.174685
dtype: float64

In [29]:
len(ps7)

10

In [30]:
max(ps7)

2.6081406997438616

In [31]:
min(ps7)

-1.3949965682874732

In [32]:
type(ps7)

pandas.core.series.Series

## convertir una serie a lista, diccionario y matriz de numpy

In [33]:
L1 = ['Honda', 'Toyota','Ford','Tesla','Lucid','Rivian']
ps_8 = pd.Series(data = L1)
#convert a series to a list
list(ps_8)
# con esto lo convertimos a lista.

['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian']

In [34]:
#convert a series to dictionary
dict(ps_8)
# con esto lo convertimos a diccionario

{0: 'Honda', 1: 'Toyota', 2: 'Ford', 3: 'Tesla', 4: 'Lucid', 5: 'Rivian'}

In [35]:
#convert a series to a narray
na1 = ps_8.values
na1
# asi lo estamos convirtiendo a un array.

array(['Honda', 'Toyota', 'Ford', 'Tesla', 'Lucid', 'Rivian'],
      dtype=object)

In [36]:
type(na1)

numpy.ndarray