<a href="https://colab.research.google.com/github/pacomm5/Plantillas/blob/main/plantilla%20preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTACIÓN DE KAGGLE.

## IMPORTACION FISICA A GOOGLE DRIVE.

IMPORTANTE SE DESCARGA FISICAMENTE EL DATASETS. Y NO ES LO QUE BUSCO PORQUE ME LLENARÁ GOOGLE DRIVE.

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")
# así me conecto como siempre a mi drive.

In [ ]:
%cd /content/gdrive/MyDrive/Colab Notebooks/KAGGLE
# así me pongo en el directorio mencionado.

In [ ]:
!kaggle datasets download -d datasnaek/youtube-new
# estando en Kaggle en la hoja principal del datasets copio lo ultimo que pone en la dirección web, en este caso dasnael/youtube-mew
# con esto lo que estoy haciendo es bajarme en zip el contenido de los datasets. 
# entiendo que el notebook me lo tengo que descargar.

In [ ]:
!ls # asi vemos que archivo hemos bajado.

In [ ]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip
#

In [ ]:
#unzipping the zip files and deleting the zip files
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

## METER UN ARCHIVO QUE ME INTERES DE KAGGLE EN GITHUB

- veo un notebook que me interese y hago una copia en kaggle para dejarlo grabado. 
- lo edito y le doy a guardar ( importante que en file este el link con github). cuando le de a continuar me dirá donde lo quiero guardar de github. 
- solo importa el notebook pero no los datos.
- ya lo tendriamos en github y lo podemos abrir como un notebook aqui en google colab. 
- ahora tengo que ver como acceder a los datos que tiene sin importarlos

## DESCARGAR EL REPOSITORIO DE KAGGLE SIN DESCARGAR SOLO EN TEMPORAL

In [ ]:
!pip install kaggle update # instalamos kaggle.

In [ ]:
# antes de nada subimos en temporal kaggle.json
!mkdir -p ~/.kaggle # creamos el provisional directorio de kaggle.

In [ ]:
! cp kaggle.json ~/.kaggle/ # llevamos el archivo al directorio creado.

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json # le damos permios para acceder.

In [ ]:
! kaggle competitions download google-smartphone-decimeter-challenge # si esta en competición parece que no puede. 
# lo que hay que copiar despues de download es por ejemplo si en la barra del navegador pone esto “https://www.kaggle.com/c/google-smartphone-decimeter-challenge”
# lo que ponemos después de download es google-smartphone-decimeter-challenge

In [ ]:
! kaggle datasets download arenagrenade/the-complete-pokemon-images-data-set
# aqui es cuando no es competición e igualmente solo tenemos que meter después del download lo siguiente “https://www.kaggle.com/arenagrenade/the-complete-pokemon-images-data-set”
# arenagrenade/the-complete-pokemon-images-data-set”

In [ ]:
# ahora ya en teoría tenemos los archivos subidos. y podemos tirar de ellos. recordad que estan en temporal

In [ ]:
! kaggle competitions download -c house-prices-advanced-regression-techniques # aqui he copiado el codigo del api pero con la admiración delante y me lo ha permitido. y es una competicion.
# ya solo tendriamos que abrir el notebook y hacer lo mismo dentro.

# Clonamos el repositorio para obtener los dataSet

In [ ]:
# si ponemos la dirección que tengo debajo lo que estoy clonando es el original, pero
# no el que tenga guardado yo en github. 
#!git clone https://github.com/joanby/machinelearning-az.git
! git clone https://github.com/pacomm5/machinelearning-az # de esta manera lo que hacemos es acceder a todos los datasets mios de github. en este caso de marchine learning de la a a la z

Cloning into 'machinelearning-az'...
remote: Enumerating objects: 10541, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (36/36), done.
remote: Total 10541 (delta 25), reused 0 (delta 0), pack-reused 10505
Receiving objects: 100% (10541/10541), 311.58 MiB | 22.41 MiB/s, done.
Resolving deltas: 100% (245/245), done.
Checking out files: 100% (10250/10250), done.

# Damos acceso a nuestro Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Test it

In [ ]:
!ls '/content/machinelearning-az'

'additional materials'	 LICENSE		    README.md
 datasets		 machinelearning-az.Rproj

# Google colab tools

In [ ]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive
import sklearn
from sklearn.impute import SimpleImputer

# Plantilla de Pre Procesado

## Cómo importar las librerías

In [ ]:
import numpy as np # este para matemáticas. 
import matplotlib.pyplot as plt # este para gráficos
import pandas as pd # perfecta carga, manipular.... datos.

## Importar el data set

In [ ]:
dataset = pd.read_csv('/content/machinelearning-az/datasets/Part 1 - Data Preprocessing/Section 2 -------------------- Part 1 - Data Preprocessing --------------------/Data.csv')

X = dataset.iloc[:, :-1].values # con esto quitamos la variable dependiente que es purchased. poenmos .values para que nos saque los valores. 
y = dataset.iloc[:, 3].values # aqui dejamos la variable  independientes.

' escribiendo código\nX = dataset.iloc[:,:-1].values\ny = dataset.iloc[:, 3]'

después de realizar esto tendremos las variables independientes en X y la variable dependiente en y. ambos son arrays

## PROBLEMAS DE FORMATO AL IMPORTAR

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TRABAJO MASTER/df_est_total.csv", sep="|", encoding="ISO-8859-1")

## serie y dataframe

In [ ]:
df["Title"] # esto es una serie no es un dataframe.

In [ ]:
serie_titulo = df.Title # lo guardamos en una variable pero sigue siendo una serie
# si seleccionamos varias columnas ya sería un data frame.

In [ ]:
df[["Title", "Director"]] # esto ya si es un dataframe.

In [ ]:
mis_columnas = ["Title", "Director"] # este es los mismo que arriba pero hemos definido la selección
# en una variable. 
df[mis_columnas]

In [ ]:
# esto es para coger una una unica columna pero en formato dataframe.
df[["Title"]]

In [ ]:
movies_column = list(df.columns) # aqui estamos convirtiendo en una lista los nombres de las columnda de un dataframe

In [ ]:
type()

## VER LOS NOMBRES DE LAS COLUMNAS QUE TIENE

In [ ]:
df1.columns

## ver el tipo de formato de las variables etc...

In [ ]:
df2.types con esto vemos el tipo de las variables.

In [ ]:
df2.describe() # con esto vemos contar, media minimoo max quartiles.

In [ ]:
df2.isnull().sum() #para ver los nan

In [ ]:
df.shape # con esto vemos la forma de dataframe, también lo podemos hacer con un array.

In [ ]:
df.info() # información del dataset

## ver la forma.

In [ ]:
df.shape

## CONVERTIR EL TIPO DE VARIABLES.

In [ ]:
df['id_cl']=df['id_cl'].apply(str)
df["anno"] = df["anno"].apply(str)
df["mes"] = df["mes"].apply(str)
df["cod_sector"] = df["cod_sector"].apply(str)
df["provincia"] = df["provincia"].apply(str)

In [ ]:
# con esto creamos la columna de fecha desde varias columnas. 


df["Fecha"] = df["anno"] + "/" + df["mes"] 
#data["Fecha"] = data["anno"] + "/" + data["mes"] + "/" + "01"
df.Fecha = pd.to_datetime(df.Fecha, dayfirst = True)

## RENOMBRAR VARIABLES.

In [ ]:
df_gr_cl = df_gr_cl.rename(columns={'importe2':'imp2_tot_cl'}).reset_index()

##RESET INDEX

In [ ]:
df3.reset_index(inplace=True, drop=True)
df3.head()

## TRASPONER EL DATAFRAME Y PIVOT TABLE

In [1]:
# estamos geneando un diccionario con diferentes variables. 
# cada variable contiene una lista de valores. 
import pandas as pd
datos = {'nombre':['María', 'Luis', 'Carmen'],
        'edad':[18, 22, 20],
        'Matemáticas':[8.5, 7, 3.5],
        'Economía':[8, 6.5, 5],
        'Programación':[6.5, 4, 9]}
df = pd.DataFrame(datos) # aqui lo convertimos a dataframe.
# después lo que estamos haciendo es crear el nombre de las columnas. 
df1 = df.melt(id_vars=['nombre', 'edad'], var_name='asignatura', value_name='nota')
#print(df1)
df1

   nombre  edad    asignatura  nota
0   María    18   Matemáticas   8.5
1    Luis    22   Matemáticas   7.0
2  Carmen    20   Matemáticas   3.5
3   María    18      Economía   8.0
4    Luis    22      Economía   6.5
5  Carmen    20      Economía   5.0
6   María    18  Programación   6.5
7    Luis    22  Programación   4.0
8  Carmen    20  Programación   9.0

In [2]:
# aqui lo que estamos es transponer parte, hemos pasado las asignatura a las columnas
# el nombre es el index, en la columna la asignatura y como valores la nota. 
print(df1.pivot(index='nombre', columns='asignatura', values='nota'))

asignatura  Economía  Matemáticas  Programación
nombre
Carmen           5.0          3.5           9.0
Luis             6.5          7.0           4.0
María            8.0          8.5           6.5

In [4]:
#df2 = df1.pivot(index='nombre', columns='asignatura', values='nota')
df2 = df1.pivot( columns='asignatura', values='nota')
df2 # en este caso lo unico que hemos dejado son las asignaturas con sus notas.

asignatura  Economía  Matemáticas  Programación
0                NaN          8.5           NaN
1                NaN          7.0           NaN
2                NaN          3.5           NaN
3                8.0          NaN           NaN
4                6.5          NaN           NaN
5                5.0          NaN           NaN
6                NaN          NaN           6.5
7                NaN          NaN           4.0
8                NaN          NaN           9.0

In [ ]:
# AHORA VAMOS A HACER UN PIVOTE

In [ ]:
df.groupby(["Year", "Subject"]).agg({"Popularity": np.mean})

In [ ]:
df.pivot_table(values ="Popularity",index = "Year", columns = "Subject", aggfunc = np.mean)
# estamos haciendo una table pivot de en la que sacamos la media de popularidad 
# con una agregación de año y tema. 
# importante cuando entramos en el parentesis ver la ayuda flotante para ver los argumentos por defecto.

## FILTRAR DATASET

In [ ]:
dataset.iloc[:, 0:3].head() # esto no vale para nada es para ver como filtrar un data set. 
# NO HEMOS ASIGNADO VARIABLE POR LO TANTO NO CAMBIA NADA SOLO SE VISUALIZA

también lo podemos hacer así.

In [ ]:
df2 = df1[["id_cl", "Fecha"]] # vamos introduciendo todas las columnas que queramos. 
# se colocarán en el orden que las pongamos.

### FILTRAR POR FECHA

In [ ]:
split_date = pd.datetime(2018,12,1)
df_fecha_cl = df_fecha_cl0.loc[df_fecha_cl0.index <= split_date].copy()
df_fecha_cl.head(30)
# con esto filtramos por fecha menor o igual al split_date
# también lo podemos hacer así. 
    # vamos hacer algo pareceido a un where en sql
    # primero hacemos df["year"] > 1991 y luego le ponemos los corchetes por fuera. 

    df[df["Year"] > 1991]

### filtrar por fila

In [ ]:
df["nombre de la columna"]=="nombre de lo que queremos filtrar "
df["nombre de la columna"]=="300" # filtro por un valor.

In [ ]:
df_mask = df2[(df2.PIB >0) & (df2.cotiz_empleadores>0)] # aqui estamos filtrando por dos condiciones.
df_mask = df2[(df2.PIB >0)]# aqui por una condición

### filtrar

In [ ]:
es_posterior_1991 = df["Year"] > 1991
es_comedia = df ["Subject"] == "Comedy"
df[es_posterior_1991 & es_comedia] # ojo el and tiene que ser con el aspersan y or con |

In [ ]:
es_igual_1991_1992 = df["Year"].isin([1991, 1992])
es_comedia = df ["Subject"] == "Comedy"
df[es_posterior_1991 & es_comedia] # ojo el and tiene que ser con el aspersan y or con |

### filtros de texto

In [ ]:
titulo_empieza_por_A = df.Title.str.startswith("A") 
director_empieza_por_A = df.Director.str.startswith("A")
df[titulo_empieza_por_A | director_empieza_por_A] # o una u otra

In [ ]:
titulo_empieza_por_A = df.Title.str.startswith("A") 
director_empieza_por_A = df.Director.str.startswith("A")
df[titulo_empieza_por_A & director_empieza_por_A] # aqui se tienen que cumplir las dos.

In [ ]:
titulo_empieza_por_A = df.Title.str.startswith("A") 
director_empieza_por_A = df.Director.str.startswith("A")
df[titulo_empieza_por_A | director_empieza_por_A] # o una u otra
df2 = df[titulo_empieza_por_A | director_empieza_por_A]

In [ ]:
titulo_empieza_por_A = df.Title.str.startswith("A") 
director_empieza_por_A = df.Director.str.startswith("A")
df[titulo_empieza_por_A | director_empieza_por_A] # o una u otra
df2 = df[titulo_empieza_por_A | director_empieza_por_A][["Title", "Director"]]
df2

### filtro unique

In [ ]:
df["Subject"].unique() # titulos únicos.

In [ ]:
df["Subject"].unique() # titulos únicos.

### suma, mediana, count

In [ ]:
df["Length"].sum() # suma de toda la serie Length
df["Length"].mean()
df["Length"].count()
df["Length"].unique() # haciendo un len de esto lo tendríamos para hacer un contar de distintos

In [ ]:
df["Length"].max()

## OPERACIONES CON COLUMNAS

In [ ]:
df["Length"] * 2
df["Length"] = df["Length"] * 2 # así pisaríamos la variable length
df["Length_by_2"] = df["Length"] * 2 # de esta manera creamos una nueva sin sustituir.

In [ ]:
# va a ser el porcentaje de popularity añadir columna
df["Popularity_percentaje"] = df["Popularity"] / 100

## AGREGACIONES

In [ ]:
#Agregaciones. 
# hacemos la agregación por año y genero y sobre popukarity hacemos la media. 
# ojo que no devuelve un dataframe. tiene un indice de year y subject y luego saca la media. 
# para devolver como data frame lo vemos debajo utilizando el diccionario. 
df.groupby(["Year", "Subject"])["Popularity"].mean()

In [ ]:
import numpy as np

# vamos a agrupar por varias length y popuarity. en el diccionario de debajo
# ponemos la clave y como valor su función. 

agregaciones = {
    "Length": np.max,
    "Popularity":np.min
}

agregado_df = df.groupby(["Year", "Subject"]).agg(agregaciones)
# tenemos un indice de dos columnas.

In [ ]:
# vamos a hacer para cada uno de los directores la media de popularidad del director. 

agregaciones = {
    
    "Popularity":np.mean
}

agregado_df_popularity_director = df.groupby(["Director"]).agg(agregaciones)
agregado_df_popularity_director

# otra manera df(["Director"]).agg({"Popularity": np.mean})

## AGRUPAR POR UNA VARIABLE.

In [ ]:
df_gr_cl=pd.DataFrame(df_fecha.groupby('id_cl')['importe2'].sum())

In [ ]:
gr_activ=df_fecha.groupby(['rama_actividad','desc_actividad']).count() # AGRUPAR Y CONTAR

In [ ]:
df5 = df3.groupby(["Fecha", "desc_actividad"]).agg({"importe2":["sum"], "PIB":["mean"], "cotiz_empleadores":["mean"]}).reset_index()
df5.head()
# agrupar por varias variables y asignandoles una función diferente. 
# ejemplo el importe2 lo sumamos, el importe hacemos la media, y la cotizacion hacemos la media. 

# OJO ESTO GENERA UN PROBLEMA YA QUE LAS COLUMNAS SE CONVIERTEN EN MULTIINDEX
# PARA QUITARLO HACEMOS ESTO
df5.columns = ["Fecha", "desc_actividad", "importe2", "PIB", "cotiz_empleadores"] 
# lo que hacemos es renombrar las columnas y se quita.

## MOVER UNA COLUMNA DE POSICION

In [ ]:
# si por ejemplo tenemos un df = con las columnas a,b,c,d,e,f
# y queremos monver la columna b al último lugar lo hacemos así. 
# df= df[["a", "c", "d", "e", "f", "a"]]
# de esta manera la colocaremos al final. muy util para separa variables independientes de las independientes. 
# servirça para filtrar y tambien para recolocar las filas.

In [ ]:
# otra manera sería así. 
# df.reindex(columns=["a", "c", "d", "e", "f", "a"])

## INTRODUCIR UNA NUEVA COLUMNA

In [ ]:
# si queremos meter una nueva columna se hace así. 
# df.insert(0, "nombre de la columna", df.mean(1)) en este caso hemos insertado una nueva columna 
# en la posición 0, y el valor que hemos metido es la media de toda la fila.

## UNIMOS DOS DATASET

In [ ]:
# si queremos unir dos dataset se hace así. 
# dataset4 = pd.concat([dataset2,dataset3], axis=1, join="inner")

### UNIR DOS DATASET CON CLAVE PRIMARIA

In [ ]:
df_fecha_tot=pd.merge(df_fecha,df_cl_tot,left_on=['id_cl','Fecha'], right_on=['id_cl','Fecha'],how='left')

## DATOS FALTANTES VALORES NAN

con los datos faltantes podemos hacer muchas cosas. eliminar la columna, la fila, rellenar con un valor, rellenar con la media, con el valor anterior, posterior etc...

In [ ]:
df.isnull().sum().sort_value(ascending = False) # con esto sacamos el resumen y ordenador de mayor a menor
# si queremos ver el porcentaje lo hacemos de la siguiente manera. 
percent = (df.isnull().sum() / df.isnull().count().sort_values(ascending = False))

In [ ]:
df.fillna(0) # con esto rellenamos los valores faltantes a 0

In [ ]:
from pandas.core import missing
# VAMOS A REMPLAZAR POR LA MEDIA. 
# recordatorio axis = 0 es media de columna si fuera 1 sería por linea. 
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean", verbose=0) # asi lo que hacemos es convertir los valores nan por la media de la columna. 
imputer = imputer.fit(X[:,1:3]) # el objeto que queremos arreglar es la X, le decimos que todas las filas, y acotamos las columnas a las que se lo queremos hacer. recordar ponemos 3 porque coge siempre la anterior. 
# en python la primera columna es 0 y cuando acotamos la última que cogemos siempre ponemos un numero más. 
X[:, 1:3] = imputer.transform(X[:,1:3]) # asi es como definitivamente lo hacemos. 
 
"""
Escribimos código
imputer = SimpleImputer(missing_values= np.nan, strategy= "mean", verbose=0)
imputer = imputer.fit(X[:,1:3])
x[:,1:3] = imputer.transform[X[:,1:3]] """
X # veremos debajo que ha quedado sustituido.

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

## DATOS CATEGORICOS TRADUCIR A NUMEROS.

lo que vamos a hacer estraducir los datos categoriocs a números. ejemplo españa 1, alemania 2 ...

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

hay dos maneras de hacerlo. la primera lo pone como numeros en una columna. pero eso puede dar luegar a que los entienda como ordinales. la otra manera es ponerlos en columnas.

In [ ]:
# OJOO NO HAY QUE CODIFICARLO ASÍ PORQUE TE LO PONE EN UNA UNICA COLUMNA Y LO PUEDE CONSIDERAR ORDINAL
#labelencoder_X = LabelEncoder() # este es el constructor 
#X[:, 0] = labelencoder_X.fit_transform(X[:, 0]) # sabemos que 0 es la columna de país. 
#X[:,0] # como podemos ver la primera que era Francia la ha codificado como 0, la seguna españa 2, la tercera alemania 1....

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0], dtype=object)

In [ ]:
#X # aqui vemos como lo ha cambiado. el problema que al codificarlo así, va a entender que 0 es menor que 1. es decir la va a considerar como ordinal.....
# ahora debajo vamos a ver las variables dummy.

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

esta es la segunda manera con la que lo que hace es ponerlo en columnas.

In [ ]:
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],    # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                         # Leave the rest of the columns untouched
)

In [ ]:
X = ct.fit_transform(X)
X # vemos que aquí ya lo ha transformado, p

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

aqui lo hacemo de una vez este segundo metodo

In [ ]:
"""from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer
labelencoder_X = LabelEncoder()
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = make_column_transformer((OneHotEncoder(), [3]), remainder = "passthrough")
X = onehotencoder.fit_transform(X)"""

###EVITAR LA TRAS DE LAS VARIABLES FICTICIAS.

In [ ]:
X = X[:, 1:] # con esto lo que hacemos es eliminar una ya que cuando dos den 0 será la tercera.

## operaciones con dataframes

In [ ]:
# vamos a ver los merge es decir los joins.
df_movies_1 = pd.read_csv("movies_1.csv", sep=";")
df_movies_2 = pd.read_csv("movies_2.csv", sep=";")

In [ ]:
# vamos a cruzar 1 con tres. pero en una se llama title y en otra name. 
# lo tenemos que hacer por año y por título
# left_on es para movies1 y right_on para movies 3
# estamos cruzando izquierda con derecho
pd.merge(df_movies1, df_movies_3, left_on=["Title", "Year"], right_on= ["Name", "Year"] )

In [ ]:
# siempre por defecto how(argumento dentro de merge) es inner.
# solo se queda con los coincidentes entre los dos. 
# how = left se queda con todo lo de la izquierda y las que coinciden de la derecha. 
# how = right lo contraio
# how = outer, te dá todo.

In [ ]:
merge_left = pd.merge(df_movies1, df_movies_3, left_on=["Title", "Year"], 
                      right_on= ["Name", "Year"], how= "left",  )

In [ ]:
merge_right = pd.merge(df_movies1, df_movies_3, left_on=["Title", "Year"],
                       right_on= ["Name", "Year"], how= "right" )

In [ ]:
merge_right[merge_right["Title"].isnull()] # aqui estamos mostrando los vacios de titulo
# izuqierda y derecha me da igual, derecha nos quedamos con toda la derecha, 
# izquierda nos quedamos con toda la izquierda. 
# luego buscamos los vacios según sea derecha o izquierda.

In [ ]:
# el full es todo es mezclar el right y el left a la vez. 
merge_full = pd.merge(df_movies1, df_movies_3, left_on=["Title", "Year"],
                       right_on= ["Name", "Year"], how= "outer" )
merge_full

## Dividir el data set en conjunto de entrenamiento y conjunto de testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0) # random_state es la semilla.

## TRANSFORMAR UN ARRAY EN DATAFRAME

In [ ]:
result = pd.DataFrame({'California': X[:, 0], 'Florida': X[:, 1],'New York': X[:, 2]})
#result = pd.DataFrame({'Column1': X[:, 0], 'Column2': X[:, 1],'Column3': X[:, 2]})
# esto entiendo es para convertir el array en un dataframe.

## Escalado de variables

### StandarScaler

In [ ]:
from sklearn.preprocessing import StandardScaler # esta tenderá a crear una campana de gauss. aglutina valores en torno a la media. 
# la normalización, transforma en 0 y 1

In [ ]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test) # aqui le decimos que escale igual que en X_train. 
# la pregunta sería ¿tenemos que escalar las variables dummy?.  AQUI SI LO HACEMOS.

In [ ]:
X_train # como vemos al haberlo transformados el 0 1 de los paises se ha convertido en numeros diferentes.

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])

In [ ]:
X_test

array([[-1.        ,  2.64575131, -0.77459667, -1.45882927, -0.90166297],
       [-1.        ,  2.64575131, -0.77459667,  1.98496442,  2.13981082]])

#EXCEL

## LLEVAR A UN EXCEL CSV

In [ ]:
# una vez hecho todo toca volcar la información de vuelta a csv
merge_full.to_csv("salida.csv", sep= "|", index = False)
# lo que ha hecho es mandarmelo al temporal de collab, como sabemos lo tenemos que descargar 
# porque desaparece.
# imagino que si lo haces en otra herramienta que no sea colab, habrá que ponerle
# la dirección que corresponda.

## TRABAJANDO CON EXCEL EN ARCHIVOS

In [ ]:
# imaginemos que los archivos que tenemos de movies son los archivos.

In [ ]:
import pandas as pd
import os

In [ ]:
# hemos creado tres carpetas y en cada uno hemos metido el mismo archivo de movies. 
# para poder ver como se hace.....

print(os.listdir("."))  # esto lo que hace es listar todo el contenido de una carpeta.
# "." te dice lo que hay en el directorio actual

In [ ]:
carpetas = os.listdir(".")
print(carpetas)

In [ ]:
# asi filtramos solo los ficheros que empiecen por dt=

dias_df = [] # abrimos la lista

for carpeta in carpetas: # recorre carpeta in carpetas, carpetas ya la hemos definido arriba. 
    if carpeta.startswith("dt="): # si la carpeta empieza por lo que está dentro del parentesis. 
        fichero_datos = f"{carpeta}/movies.csv" # esto lo que hace es guardar en fichero de datos los nombres de todas las carpetas que tenemos con esa condición

        print(fichero_datos) # aquí la imprime. 
        df = pd.read_csv(fichero_datos, sep=";") # aqui estamos leyendo todas las carpetas de datos. 
        df["fecha"] = carpeta[-10:]
        dias_df.append(df) # aqui apendiza a la lista de arriba el dataframe. 

print(len(dias_df)) # aqui lo que imprime es el numero de archivos.

In [ ]:
all_dfs = pd.concat(dias_df) # aqui lo que estamos haciendo es concatenar todos los archivos en uno de la lista que hemos generado arriba.

In [ ]:
len(all_dfs) # con esto sabriamos la longitud del dataframe resultante.

In [ ]:
n_fechas = all_dfs["fecha"].unique() # con esto le estamos diciendo que nos diga las fechas unicas dentro del dataframe

In [ ]:
len(n_fechas) # con esto nos diría la cantidad de registros únicos de fechas.

In [ ]:
from datetime import datetime
fecha_hoy = datetime.today().strftime("%Y-%m-%d") # asi formateamos la fecha que sale igua que la
# tenemos en los
# archivos.  Y año m es mes d es día. 
carpeta_salida = f"salidas/dt={fecha_hoy}"
print(carpeta_salida)
os.makedirs(carpeta_salida, exist_ok = True) # esto crea la carpeta

In [ ]:
all_dfs.to_csv(f"{carpeta_salida}/salida_{fecha_hoy}.csv", sep = "|", index = False)
# esto mete el dataframe dentro de una carpeta y le pone el nombre